<template>
  <div>
    <table width="100%" style="height:30rem">
      <thead>
        <tr>
          <th width="10%">{{ $t('components.trainborard.trainno') }}</th>
          <th width="10%">{{ $t('components.trainborard.gotime') }}</th>
          <th width="10%">{{ $t('components.trainborard.arrivetime') }}</th>
          <th width="10%">{{ $t('components.trainborard.runitme') }}</th>
          <th width="10%">{{ $t('components.trainborard.pass') }}</th>
          <th width="10%">{{ $t('components.trainborard.detial') }}</th>
          <th width="10%">{{ $t('components.trainborard.action') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="( itdata,index ) in historyData" :key="index+'td'" class="tc">
          <td class="p-5">
            <font v-if="itdata.DailyTrainInfo.TrainTypeCode === '10' ">
              <Icon type="md-train" />
              - {{ $t('components.trainborard.Shuttlebusfast') }}
            </font>
            <font v-if="itdata.DailyTrainInfo.TrainTypeCode === '7'  ">
              <Icon type="md-train" />
              - {{ $t('components.trainborard.normalfast') }}
            </font>
            <font v-if="itdata.DailyTrainInfo.TrainTypeCode === '6'  ">
              <Icon type="md-train" />
              - {{ $t('components.trainborard.Shuttlebus') }}
            </font>
            <font v-if="itdata.DailyTrainInfo.TrainTypeCode === '4'  ">
              <Icon type="md-train" style="color:#0069c2" />
              - {{ $t('components.trainborard.ChuKuang') }}
            </font>
            <font v-if="itdata.DailyTrainInfo.TrainTypeCode === '3'  ">
              <Icon type="md-train" style="color:orange" />
              - {{ $t('components.trainborard.TzeChiang') }}
            </font>
            <font v-if="itdata.DailyTrainInfo.TrainTypeCode === '2'  ">
              <Icon type="md-train" style="color:#d00216" />
              - {{ $t('components.trainborard.Puoma') }}
            </font>
            <font v-if="itdata.DailyTrainInfo.TrainTypeCode === '1'  ">
              <Icon type="md-train" style="color:#d00216" />
              - {{ $t('components.trainborard.TarokoExpress') }}
            </font>
            ({{ itdata.DailyTrainInfo.TrainNo}})
          </td>
          <td>{{ itdata.OriginStopTime.DepartureTime }}</td>
          <td>{{ itdata.DestinationStopTime.ArrivalTime }}</td>
          <td>{{ paytime(itdata.TrainDate+' '+itdata.OriginStopTime.DepartureTime,itdata.TrainDate+' '+itdata.DestinationStopTime.ArrivalTime) }} {{ $t('components.trainborard.min') }}</td>
          <td v-if="itdata.DailyTrainInfo.TripLine === 0">{{ $t('components.trainborard.nospan') }}</td>
          <td
            v-if="itdata.DailyTrainInfo.TripLine === 1"
          >{{ $t('components.trainborard.spanmountain') }}</td>
          <td
            v-if="itdata.DailyTrainInfo.TripLine === 2"
          >{{ $t('components.trainborard.spanmsea') }}</td>
          <td>
            <Button
              type="warning"
              size="small"
              @click="detial(index)"
            >{{ $t('components.trainborard.detial') }}</Button>
          </td>
          <td>
            <Button
              type="primary"
              size="small"
              @click="ticketit(index)"
              v-show="showcanticket(itdata.OriginStopTime.DepartureTime,itdata.TrainDate)"
            >{{ $t('components.trainborard.fastbook') }}</Button>
          </td>
        </tr>
        <tr v-if="historyData == ''">
          <td colspan="10" class="tc p-5">{{ $t('trainborard.noform') }}</td>
        </tr>
      </tbody>
    </table>
    <Page
      class="mt-10 mb-10 fr"
      ref="pages" 
      simple
      :total="dataCount"
      :page-size="pageSize"
      @on-change="changepage"
    ></Page>
  </div>
</template>

<script>
import moment from "moment";
import { mapMutations } from "vuex";
export default {
  props: {
    tableboard: {
      type: Array,
      default: () => ({
        TrainDate: String,
        DailyTrainInfo: {
          TrainNo: String,
          Direction: Numbebr,
          StartingStationID: String,
          StartingStationName: {
            Zh_tw: String,
            En: String
          },
          EndingStationID: String,
          EndingStationName: {
            Zh_tw: String,
            En: String
          },
          TripHeadsign: String,
          TrainTypeID: String,
          TrainTypeCode: String,
          TrainTypeName: {
            Zh_tw: String,
            En: String
          },
          TripLine: Numbeb,
          WheelchairFlag: Numbeb,
          PackageServiceFlag: Numbeb,
          DiningFlag: Numbeb,
          BikeFlag: Numbeb,
          BreastFeedingFlag: Numbeb,
          DailyFlag: Numbebr,
          ServiceAddedFlag: Boolean,
          Note: {
            Zh_tw: String
          }
        },
        OriginStopTime: {
          StopSequence: Numbebr,
          StationID: String,
          StationName: {
            Zh_tw: String,
            En: String
          },
          ArrivalTime: String,
          DepartureTime: String
        },
        DestinationStopTime: {
          StopSequence: Numbebr,
          StationID: String,
          StationName: {
            Zh_tw: String,
            En: String
          },
          ArrivalTime: String,
          DepartureTime: String
        },
        UpdateTime: String,
        VersionID: Numbebr
      })
    }
  },
  data() {
    return {
      ajaxHistoryData: [],
      // 初始化信息总条数
      dataCount: 0,
      // 每页显示多少条
      pageSize: 10,
      historyData: [],
      acount: []
    };
  },
  computed: {
    fixdata() {
      const nowtime = moment(Date.now()).format("x");
      const date = this.tableboard.slice()
        .filter(items => {
          // console.log(`nowtime`, moment(items.TrainDate+' '+items.OriginStopTime.DepartureTime).format("x") > nowtime);
          return moment(items.TrainDate+' '+items.OriginStopTime.DepartureTime).format("x") > nowtime
        })
        .sort((a, b) =>
          a.OriginStopTime.DepartureTime > b.OriginStopTime.DepartureTime
            ? 1 : -1
        );
      return date;
    },
    costtime(start, end) {
      const wecosttime = moment(end).diff(moment(start), "minutes");
    }
  },
  watch: {
    tableboard(val) {
      this.handleListApproveHistory();
    }
  },
  mounted() {
    this.acount = JSON.parse(localStorage.getItem("logindata"));
  },
  methods: {
    // 获取历史记录信息
    handleListApproveHistory() {
      // 保存取到的所有数据
      this.ajaxHistoryData = this.fixdata;
      this.dataCount = this.fixdata.length;
      // 初始化显示，小于每页显示条数，全显，大于每页显示条数，取前每页条数显示
      if (this.fixdata.length < this.pageSize) {
        this.historyData = this.ajaxHistoryData;
      } else {
        this.historyData = this.ajaxHistoryData.slice(0, this.pageSize);
      }
      this.$nextTick(()=>{
          this.$refs['pages'].currentPage = 1;
      })
    },
    ...mapMutations({
      togglemodalshow: "togglemodalshow",
      togglemodaldata: "togglemodaldata",
      toggleticketitshow: "toggleticketitshow",
      togglticketitdata: "togglticketitdata"
    }),
    changepage(index) {
      var _start = (index - 1) * this.pageSize;
      var _end = index * this.pageSize;
      this.historyData = this.ajaxHistoryData.slice(_start, _end);
    },
    detial(index) {
      // console.log(`this.historyData[index]`, this.historyData[index]);
      this.togglemodaldata(this.historyData[index]);
      this.togglemodalshow();
    },
    ticketit(index) {
      if (this.acount == null) {
        this.$Message.error(this.$t("trainborard.fun_ticketit"));
      } else {
        this.togglticketitdata(this.historyData[index]);
        this.toggleticketitshow();
      }
    },
    paytime(start, end) {
      if (start > end) {
        const fixend = moment(end).add(1, "days");
        const wecosttime = moment(fixend).diff(moment(start), "minutes");
        return wecosttime;
      } else {
        const wecosttime = moment(end).diff(moment(start), "minutes");
        return wecosttime;
      }
    },
    showcanticket(checktime, date) {
      const nowtime = Date.now();
      const gettime = moment(date + " " + checktime + ":" + "00").format("x");
      return nowtime < gettime;
    }
  }
};
</script>
