<template>
  <Select v-model="selectarea"  style="width:120px;" :placeholder="$t('tool.select')" >
    <Option
      v-for="( trainarea,index ) in fix_trainarea "
      :key="index+'trainarea'"
      :value="trainarea.StationID"
    >{{ trainarea.StationID}} - {{ checklang() ?  trainarea.StationName.En : trainarea.StationName.Zh_tw }}
    </Option>
  </Select>
</template>

<script>
import train_datajs from "~/assets/data/dataarea.json";
export default {
  components: {},
  data() {
    return {
      trainarea: train_datajs,
      selectarea: ""
    };
  },
  computed: {
    fix_trainarea() {
      return this.trainarea.slice().sort((a, b) => a.StationID - b.StationID);
    }
  },
  watch: {
    selectarea() {
      this.senddata();
    }
  },
  methods: {
    senddata() {
      this.$emit("sendout", this.selectarea);
    },
    checklang() {
      const checkval = this.$t("lang");
      if (checkval == "Zh_tw") return false;
      if (checkval == "En") return true;
    }
  }
};
</script>
