<template>
    <Date-picker
      @on-change="handleChange"
      type="date"
      format="yyyy-MM-dd"
      :placeholder="$t('tool.selectdate')"
      style="width: 180px"
      placement="bottom-end"
      class="mr-10"
      :options="setdatepicker"
    ></Date-picker>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      godate:"",
      setdatepicker: {
        disabledDate(date) {
          return date && date.valueOf() < Date.now() - 86400000;
        }
      }
    };
  },
  computed: {},
  methods: {
    handleChange(daterange) {
      this.$emit('sendout',daterange)
    }
  }
};
</script>
