<style lang="scss" scoped>
.train-head {
  &.l {
    border-top-left-radius: 90%;
    border-bottom-left-radius: 90%;
  }
  &.r {
    border-top-right-radius: 90%;
    border-bottom-right-radius: 90%;
  }
  background-color: #ffbb00;
  background: -webkit-linear-gradient(
    top,
    #ffc400 0%,
    #f17432 50%,
    #ea5507 51%,
    #ffc400 100%
  );
  height: 20.2rem;
  border: 5px solid #444;
}
.train-card {
  background-color: #f5f5f5;
  border-top: 5px solid #444;
  border-bottom: 5px solid #444;
  -moz-user-select: none; /* for Firefox */
  -webkit-user-select: none; /* for Chrome */
}
.trainseat {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  border-bottom: 5px solid #444;
  color: aliceblue;
  background: #d3d3d3;
  font-size: 15px;
  line-height: 2.3rem;
  &:hover,
  &.selectbtn {
    transition: all 0.2s;
    background: #ffbb00;
    color: #080808;
    cursor: pointer;
    border-bottom: 1px solid #444;
  }
  &.disbtn,
  &:hover {
    background: #5d5d5d;
    touch-action: auto;
    color: aliceblue;
  }
}
.walk {
  background: #dadada;
  color: #000000;
  border-top: 5px solid #444;
  border-bottom: 5px solid #444;
}
.square {
  &.dis {
    background: #5d5d5d;
    color: #5d5d5d;
  }
  &.select {
    background: #ffbb00;
    color: #ffbb00;
  }
  &.notselect {
    background: #d3d3d3;
    color: #d3d3d3;
  }
}
</style>

<template>
  <div>
    <h1 class="tc mt-10">{{ $t('components.selectseat.choosed') }} - {{selectseat.length}} - {{ $t('components.selectseat.trainbit') }}</h1>
    <h3 class="tc m-10">
      <span class="square dis">10</span> {{ $t('components.selectseat.ticketed') }}
      | <span class="square select">10</span> {{ $t('components.selectseat.chooseticketed') }}
      | <span class="square notselect">10</span> {{ $t('components.selectseat.noticket') }}
    </h3>
    <Row>
      <i-Col span="1" class="train-head l fl"></i-Col>
      <i-Col span="2" class="train-head r fr"></i-Col>
      <i-Col span="21" class="train-card">
        <i-Col span="2" v-for="(it1,index) in slice_trainseat_top" :key="index+'seat1'">
          <a @click="getseat(it1.seat,),it1.isActive = !it1.isActive" v-if="!it1.isbook">
            <div
              class="m-5 p-5 tc trainseat"
              :class="{'selectbtn': it1.isActive,'disbtn': it1.isbook}"
            >{{it1.seat}} {{ $t('components.selectseat.bit') }}</div>
          </a>
          <a v-if="it1.isbook">
            <div
              class="m-5 p-5 tc trainseat"
              :class="{'selectbtn': it1.isActive,'disbtn': it1.isbook}"
            >{{ $t('components.selectseat.hasticket') }}</div>
          </a>
        </i-Col>
        <i-Col span="24" class="mt-10 mb-10 p-15 tc walk">{{ $t('components.selectseat.walk') }}</i-Col>
        <i-Col span="2" v-for="(it2,index) in slice_trainseat_bottom" :key="index+'seat2'">
          <a @click="getseat(it2.seat),it2.isActive = !it2.isActive" v-if="!it2.isbook">
            <div
              class="m-5 p-5 tc trainseat"
              :class="{'selectbtn': it2.isActive,'disbtn': it2.isbook}"
            >{{it2.seat}} {{ $t('components.selectseat.bit') }}</div>
          </a>
          <a v-if="it2.isbook">
            <div
              class="m-5 p-5 tc trainseat"
              :class="{'selectbtn': it2.isActive,'disbtn': it2.isbook}"
            >{{ $t('components.selectseat.hasticket') }}</div>
          </a>
        </i-Col>
      </i-Col>
    </Row>
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      trainseat: [],
      selectseat: [],
      getsetseat: []
    };
  },
  computed: {
    slice_trainseat_top() {
      return this.trainseat.slice(0, 24);
    },
    slice_trainseat_bottom() {
      return this.trainseat.slice(24, 48);
    }
  },
  watch: {
    selectseat(val) {
      this.senout(val);
    },
    trainseat(val) {
      //去過濾及改變事先選定的座位狀態isbook
      val.map(items1 => {
        this.getsetseat.map(items2 => {
          if (items1.seat == items2.seat) {
            return (items1.isbook = true);
          }
        });
      });
    }
  },
  methods: {
    createseat() {
      //創建出新座位表
      var seats = [];
      for (let i = 1; i <= 48; i++) {
        seats.push({ seat: i, isActive: false, isbook: false });
      }
      return (this.trainseat = seats);
    },
    sethasseat(getsetseat) {
      //已訂購車位 getsetseat
      if (getsetseat != 0) {
        var getitems = [];
        getsetseat.filter(items => {
          this.createseat();
          const itemdate = items.date; //日期
          const itemobj = items.seatobj; //已訂位陣列
          return this.getsetseat.push(...itemobj);
        });
      } else {
          //將預設座位及已選座位初始化，以防不刷新二次搜尋時吃到舊陣列
          this.getsetseat = [];
          this.selectseat = [];
          this.createseat();
      }
    },
    getseat(data) {
      var getseat = { seat: data };
      //遍巡陣列是否有相同的座位
      var result = this.selectseat.findIndex(item => item.seat == data);
      if (result != -1) { 
        //當有找到同樣座位時，將其重新回傳除他以外的座位
        const find = this.selectseat.filter(item => {
          return item.seat != data;
        });
        this.selectseat = find;
      } else {
        //沒有找到重複座位，將選擇的座位推進陣列中
        this.selectseat.push(getseat);
      }
    },
    senout(seat) {
      //將座位送出至外部組件
      this.$emit("outseatbridge", seat);
    }
  }
};
</script>
