<template>
  <div>
    <h1 class="tc mb-10">
      <Icon type="ios-clipboard" />
      {{ $t('paybackrecord.title') }}
    </h1>
    <table width="100%" style="height:30rem">
      <thead>
        <tr>
          <th colspan="15">{{ $t('paybackrecord.thtitle') }}</th>
        </tr>
        <tr>
          <th width="15%">{{ $t('paybackrecord.th1') }}</th>
          <th width="10%">{{ $t('paybackrecord.th2') }}</th>
          <th width="35%">{{ $t('paybackrecord.th3') }}</th>
          <th width="10%">{{ $t('paybackrecord.th4') }}</th>
          <th width="10%">{{ $t('paybackrecord.th5') }}</th>
          <th width="5%">{{ $t('paybackrecord.th6') }}</th>
          <th width="15%">{{ $t('paybackrecord.th7') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(it,index) in historyData" :key="index+'pay'">
          <td class="tc">{{it.chgdata.time}}</td>
          <td
            class="tc"
            v-for="(it2,index) in getmemeber(it.chgdata.keydata.uid)"
            :key="index+'person'"
          >
            {{it2.displayName}}
            <Button type="success" size="small" @click="memberdata(it2)">{{ $t('payback.databtn') }}</Button>
          </td>
          <td>
            <font
              v-for="(it,index) in it.chgdata.selectbox"
              :key="index+'tt'"
              class="ml-10"
            >({{index+1}}) - {{it}}</font>
            <Button
              @click="reason(it.chgdata.backreason)"
              type="primary"
              size="small"
              class="ml-5"
            >{{ $t('payback.applyreason') }}</Button>
          </td>
          <td class="tc">
            <Button
              type="primary"
              size="small"
              @click="getticketdata(it.chgdata.keydata)"
            >{{ $t('payback.ticketdata') }}</Button>
          </td>
          <td class="tc">
            <h3 v-if="it.backtcket=='2'" style="color:green;">{{ $t('paybackrecord.pass') }}</h3>
            <Button
              v-if="it.backtcket === '3'"
              type="error"
              size="small"
              @click="ticketreason(it.reason)"
            >{{ $t('paybackrecord.nopass') }}</Button>
          </td>
          <td class="tc">{{it.dealman}}</td>
          <td class="tc">{{it.dealtime}}</td>
        </tr>
        <tr v-if="historyData==''">
          <td colspan="10" class="tc">{{$t('trainborard.fun_train_time_board_Message_2')}}</td>
        </tr>
      </tbody>
    </table>
    <Page ref="pages"  class="fr m-20" :total="dataCount" :page-size="pageSize" simple @on-change="changepage"></Page>
    <Divider />

    <Modal v-model="membermod" :title="$t('memeber.thtitle')" width="800">
      <table width="100%" class="tc mb-20">
        <thead>
          <tr>
            <th colspan="10">{{$t('memeber.thtitle')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="10">
              <h3>{{membermoddata.displayName}}</h3>
            </td>
          </tr>
          <tr>
            <th>{{ $t('memeber.th4') }}</th>
            <th>{{ $t('memeber.th5') }}</th>
          </tr>
          <tr>
            <td>
              <h3>{{membermoddata.sex}}</h3>
            </td>
            <td>
              <h3>{{membermoddata.birth}}</h3>
            </td>
          </tr>
          <tr>
            <th>{{ $t('memeber.th7') }}</th>
            <th>{{ $t('memeber.th8') }}</th>
          </tr>
          <tr>
            <td>
              <h3>{{membermoddata.phone}}</h3>
            </td>
            <td>
              <h3>{{membermoddata.live}}</h3>
            </td>
          </tr>
          <tr>
            <th>{{ $t('memeber.th9') }}</th>
            <th>{{ $t('memeber.th10') }}</th>
          </tr>
          <tr>
            <td>
              <h3>{{membermoddata.langs}}</h3>
            </td>
            <td>
              <h3>{{membermoddata.school}}</h3>
            </td>
          </tr>
          <tr>
            <th>{{ $t('memeber.th11') }}</th>
            <th>{{ $t('memeber.th12') }}</th>
          </tr>
          <tr>
            <td>
              <h3>{{membermoddata.work}}</h3>
            </td>
            <td>
              <h3>{{membermoddata.country}}</h3>
            </td>
          </tr>
        </tbody>
      </table>
      <div slot="footer">
        <Button type="primary" size="large" @click="membermod=false">{{ $t('index.close') }}</Button>
      </div>
    </Modal>

    <Modal v-model="ticketdatamod" :title="$t('payback.ticketdata')" width="1200">
      <table width="100%" class="tc">
        <thead>
          <tr>
            <th colspan="15">{{ $t('components.trainborard.detial') }}</th>
          </tr>
          <tr>
            <th width="15%">{{ $t('backticket.th1') }}</th>
            <th width="15%">{{ $t('backticket.th2') }}</th>
            <th width="5%">{{ $t('backticket.th4') }}</th>
            <th width="5%">{{ $t('backticket.th5') }}</th>
            <th width="5%">{{ $t('backticket.th6') }}</th>
            <th width="5%">{{ $t('backticket.th7') }}</th>
            <th width="10%">{{ $t('backticket.th8') }}</th>
            <th width="30%">{{ $t('backticket.th9') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(it,index) in ticketdata"
            :key="index+'data'"
            :class="it.backtcket=='1'? 'backticket':''"
          >
            <td>
              <font v-if="it.traintype === '10' ">
                <Icon type="md-train" />- {{ $t('components.trainborard.Shuttlebusfast') }}
              </font>
              <font v-if="it.traintype === '7'  ">
                <Icon type="md-train" />- {{ $t('components.trainborard.normalfast') }}
              </font>
              <font v-if="it.traintype === '6'  ">
                <Icon type="md-train" />- {{ $t('components.trainborard.Shuttlebus') }}
              </font>
              <font v-if="it.traintype === '4'  ">
                <Icon type="md-train" style="color:#0069c2" />- {{ $t('components.trainborard.ChuKuang') }}
              </font>
              <font v-if="it.traintype === '3'  ">
                <Icon type="md-train" style="color:orange" />- {{ $t('components.trainborard.TzeChiang') }}
              </font>
              <font v-if="it.traintype === '2'  ">
                <Icon type="md-train" style="color:#d00216" />- {{ $t('components.trainborard.Puoma') }}
              </font>
              <font v-if="it.traintype === '1'  ">
                <Icon type="md-train" style="color:#d00216" />- {{ $t('components.trainborard.TarokoExpress') }}
              </font>
              - ({{it.trainno}})
            </td>
            <td>{{it.startarea}} ({{it.starttime}}) - {{it.endarea}} ({{it.endtime}})</td>
            <td>{{it.seatnum}} {{ $t('personticket.Bit') }}</td>
            <td>{{it.whweelseatnum}} {{ $t('personticket.Bit') }}</td>
            <td>
              <font v-if="it.tickettype == 0">{{ $t('personticket.Fullticket') }}</font>
              <font v-if="it.tickettype == 1">{{ $t('personticket.Halfticket') }}</font>
            </td>
            <td>
              <b>{{it.ticketnum}} 張</b>
            </td>
            <td>
              <h3>${{(it.ticketprice[0].Fares[it.tickettype].Price)*(it.whweelseatnum+it.seatnum)}} {{ $t('personticket.money') }}</h3>
            </td>
            <td>{{it.buydate}}</td>
          </tr>
          <tr v-if="historyData==''">
            <td colspan="15">{{$t('trainborard.fun_train_time_board_Message_2')}}</td>
          </tr>
        </tbody>
      </table>
      <div slot="footer">
        <Button type="primary" size="large" @click="ticketdatamod=false">{{ $t('index.close') }}</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import ticketsay from "~/components/ticketpage/ticketsay.vue";
import moment from "moment";
import firebase from "firebase/app";;
import { log } from "util";
import { concat } from "bytebuffer";
export default {
  middleware: "routerAuth",
  components: {
    ticketsay
  },
  data() {
    return {
      tabledata: [],
      applydata: [],
      acount: [],
      acount: [],
      ajaxHistoryData: [],
      // 初始化信息总条数
      dataCount: 0,
      // 每页显示多少条
      pageSize: 10,
      historyData: [],
      membermod: false,
      ticketdatamod: false,
      ticketdata: [],
      membermoddata: [],
      selectbox: [],
      backreason: "",
      memberlist: []
    };
  },
  created() {
    this.handleListApproveHistory();
  },
  async asyncData() {
    const db = firebase.firestore();
    const ref1 = db.collection("paybackrecord")
    var result1 = [];
    await ref1.get().then(querySnapshot => {
      querySnapshot.forEach(doc2 => {
        const resultdata = doc2.data();
        resultdata.keypayback = doc2.id;
        result1.push(resultdata);
      });
    });
    var result2 = [];
    const ref2 = db.collection("member");
    await ref2.get().then(querySnapshot => {
      querySnapshot.forEach(doc2 => {
        const resultdata = doc2.data();
        result2.push(resultdata);
      });
    });
    return {
      memberlist: result2,
      tabledata: result1
    };
  },
  mounted() {
    this.acount = JSON.parse(localStorage.getItem("logindata"));
  },
  watch: {
    tabledata(val) {
      this.handleListApproveHistory();
    }
  },
  methods: {
    // 获取历史记录信息
    handleListApproveHistory() {
      // 保存取到的所有数据
      this.ajaxHistoryData = this.tabledata;
      this.dataCount = this.tabledata.length;
      // 初始化显示，小于每页显示条数，全显，大于每页显示条数，取前每页条数显示
      if (this.tabledata.length < this.pageSize) {
        this.historyData = this.ajaxHistoryData;
      } else {
        this.historyData = this.ajaxHistoryData.slice(0, this.pageSize);
      }
      this.$nextTick(()=>{
          this.$refs['pages'].currentPage = 1;
      })
    },
    changepage(index) {
      var _start = (index - 1) * this.pageSize;
      var _end = index * this.pageSize;
      this.historyData = this.ajaxHistoryData.slice(_start, _end);
    },
    async getticketrecord() {
      const db = firebase.firestore();
      const ref = db.collection("paybackrecord");
      var result = [];
      await ref.get().then(querySnapshot => {
        querySnapshot.forEach(doc2 => {
          const resultdata = doc2.data();
          resultdata.keypayback = doc2.id;
          result.push(resultdata);
        });
        console.log(`result`, result);
        this.tabledata = result;
      });
    },
    getapply() {
      var result = [];
      const db = firebase.firestore();
      const ref = db.collection("member");
      ref.onSnapshot(querySnapshot => {
        querySnapshot.forEach(doc2 => {
          const resultdata = doc2.data();
          result.push(resultdata);
        });
      });
      this.memberlist = result;
    },
    getmemeber(key) {
      const getmember = this.memberlist.filter(item => {
        return item.id == key;
      });
      return getmember;
    },
    reason(backreason) {
      this.$Message.warning({
        content: `<b>` + this.$t("paybackrecord.th3") + `:</b><br/>` + backreason,
        duration: 10,
        closable: true
      });
    },
    memberdata(data) {
      this.membermod = true;
      this.membermoddata = data;
    },
    getticketdata(data) {
      this.ticketdatamod = true;
      this.ticketdata = [data];
    },
    ticketreason(data) {
      this.$Message.warning({
        content:
          `<b>`+this.$t("paybackrecord.nopassreason")+`:</b><br/>` + `<div class="m-5">` + data + `</div>`,
        duration: 10,
        closable: true
      });
    }
  }
};
</script>
