<template>
  <div>
    <Spin fix v-show="loadingtype">
      <Icon type="ios-loading" size="18" class="demo-spin-icon-load"></Icon>
      <div>{{ $t('loading') }}</div>
    </Spin>
    <h1 class="tc mb-10">
      <Icon type="md-bookmarks" />
      {{ $t('payback.title') }}
    </h1>
    <table width="100%" style="height:30rem">
      <thead>
        <tr>
          <th colspan="15">{{ $t('payback.thtitle') }}</th>
        </tr>
        <tr>
          <th width="20%">{{ $t('payback.applydate') }}</th>
          <th width="10%">{{ $t('payback.applyman') }}</th>
          <th width="45%">{{ $t('payback.applyreason') }}</th>
          <th width="10%">{{ $t('payback.ticketdata') }}</th>
          <th width="15%">{{ $t('payback.action') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(it,index) in historyData" :key="index+'pay'">
          <td class="tc">{{it.time}}</td>
          <td class="tc" v-for="(it2,index) in getmemeber(it.keydata.uid)" :key="index+'person'">
            {{it2.displayName}}
            <Button type="success" size="small" @click="memberdata(it2)">{{ $t('payback.databtn') }}</Button>
          </td>
          <td>
            <font
              v-for="(it,index) in it.selectbox"
              :key="index+'tt'"
              class="ml-10"
            >({{index+1}}) - {{it}}</font>
            <Button
              @click="reason(it.backreason)"
              type="primary"
              size="small"
              class="ml-5"
            >{{ $t('payback.applyreason') }}</Button>
          </td>
          <td class="tc">
            <Button
              type="primary"
              size="small"
              @click="getticketdata(it.keydata)"
            >{{ $t('payback.ticketdata') }}</Button>
          </td>
          <td class="tc">
            <Button
              type="error"
              size="small"
              class="mr-5"
              @click="passpaybackfun(it.keydata.keyticket,it.keypayback,'2',0)"
            >{{ $t('payback.Approvedrefund') }}</Button>
            <Button
              type="warning"
              size="small"
              @click="paybackmod=true,nopass(it.keydata.keyticket,it.keypayback,'3')"
            >{{ $t('payback.Rejectedrefund') }}</Button>
          </td>
        </tr>
        <tr v-if="historyData==''">
          <td colspan="10" class="tc">{{$t('trainborard.fun_train_time_board_Message_2')}}</td>
        </tr>
      </tbody>
    </table>
    <Page ref="pages"  class="fr m-20" :total="dataCount" :page-size="pageSize" simple @on-change="changepage"></Page>
    <Divider />

    <Modal v-model="membermod" :title="$t('memeber.title')" width="800">
      <table width="100%" class="tc mb-20">
        <thead>
          <tr>
            <th colspan="10">{{ $t('memeber.title') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="10">
              <h3>{{membermoddata.displayName}}</h3>
            </td>
          </tr>
          <tr>
            <th>{{ $t('memeber.th4') }}</th>
            <th>{{ $t('memeber.th5') }}</th>
          </tr>
          <tr>
            <td>
              <h3>{{membermoddata.sex}}</h3>
            </td>
            <td>
              <h3>{{membermoddata.birth}}</h3>
            </td>
          </tr>
          <tr>
            <th>{{ $t('memeber.th7') }}</th>
            <th>{{ $t('memeber.th8') }}</th>
          </tr>
          <tr>
            <td>
              <h3>{{membermoddata.phone}}</h3>
            </td>
            <td>
              <h3>{{membermoddata.live}}</h3>
            </td>
          </tr>
          <tr>
            <th>{{ $t('memeber.th9') }}</th>
            <th>{{ $t('memeber.th10') }}</th>
          </tr>
          <tr>
            <td>
              <h3>{{membermoddata.langs}}</h3>
            </td>
            <td>
              <h3>{{membermoddata.school}}</h3>
            </td>
          </tr>
          <tr>
            <th>{{ $t('memeber.th11') }}</th>
            <th>{{ $t('memeber.th12') }}</th>
          </tr>
          <tr>
            <td>
              <h3>{{membermoddata.work}}</h3>
            </td>
            <td>
              <h3>{{membermoddata.country}}</h3>
            </td>
          </tr>
        </tbody>
      </table>
      <div slot="footer">
        <Button type="primary" size="large" @click="membermod=false">{{ $t('index.close') }}</Button>
      </div>
    </Modal>

    <Modal v-model="ticketdatamod" :title="$t('backticket.title')" width="1200">
      <table width="100%" class="tc">
        <thead>
          <tr>
            <th colspan="15">{{ $t('backticket.thtitle') }}</th>
          </tr>
          <tr>
            <th width="15%">{{ $t('backticket.th1') }}</th>
            <th width="15%">{{ $t('backticket.th2') }}</th>
            <th width="5%">{{ $t('backticket.th4') }}</th>
            <th width="5%">{{ $t('backticket.th5') }}</th>
            <th width="5%">{{ $t('backticket.th6') }}</th>
            <th width="5%">{{ $t('backticket.th7') }}</th>
            <th width="10%">{{ $t('backticket.th8') }}</th>
            <th width="15%">{{ $t('backticket.th9') }}</th>
            <th width="15%">{{ $t('backticket.th10') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(it,index) in ticketdata"
            :key="index+'data'"
            :class="it.backtcket=='1'? 'backticket':''"
          >
            <td>
              <font v-if="it.traintype === '10' ">
                <Icon type="md-train" />-{{ $t('components.trainborard.Shuttlebusfast') }}
              </font>
              <font v-if="it.traintype === '7'  ">
                <Icon type="md-train" />-{{ $t('components.trainborard.normalfast') }}
              </font>
              <font v-if="it.traintype === '6'  ">
                <Icon type="md-train" />-{{ $t('components.trainborard.Shuttlebus') }}
              </font>
              <font v-if="it.traintype === '4'  ">
                <Icon type="md-train" style="color:#0069c2" />-{{ $t('components.trainborard.ChuKuang') }}
              </font>
              <font v-if="it.traintype === '3'  ">
                <Icon type="md-train" style="color:orange" />-{{ $t('components.trainborard.TzeChiang') }}
              </font>
              <font v-if="it.traintype === '2'  ">
                <Icon type="md-train" style="color:#d00216" />-{{ $t('components.trainborard.Puoma') }}
              </font>
              <font v-if="it.traintype === '1'  ">
                <Icon type="md-train" style="color:#d00216" />-{{ $t('components.trainborard.TarokoExpress') }}
              </font>
              - ({{it.trainno}})
            </td>
            <td>{{it.startarea}} ({{it.starttime}}) - {{it.endarea}} ({{it.endtime}})</td>
            <td>{{it.seatnum}} {{ $t('personticket.money') }}</td>
            <td>{{it.whweelseatnum}} {{ $t('personticket.money') }}</td>
            <td>
              <font v-if="it.tickettype == 0">{{ $t('personticket.Fullticket') }}</font>
              <font v-if="it.tickettype == 1">{{ $t('personticket.Halfticket') }}</font>
            </td>
            <td>
              <b>{{it.ticketnum}} {{ $t('backticket.th7') }}</b>
            </td>
            <td>
              <h3>${{(it.ticketprice[0].Fares[it.tickettype].Price)*(it.whweelseatnum+it.seatnum)}} {{ $t('personticket.money') }}</h3>
            </td>
            <td>{{it.buydate}}</td>
            <td>
              <h4 v-if="it.backtcket=='0'" style="color:black">{{ $t('backticket.applyticketing') }}</h4>
            </td>
          </tr>
          <tr v-if="historyData==''">
            <td colspan="15">{{$t('trainborard.fun_train_time_board_Message_2')}}</td>
          </tr>
        </tbody>
      </table>
      <div slot="footer">
        <Button type="primary" size="large" @click="ticketdatamod=false">{{$t('index.close')}}</Button>
      </div>
    </Modal>

    <Modal v-model="paybackmod" width="400">
      <h2 slot="header" class="tc" style="color:red;">
        <Icon type="md-warning" />
        <span>{{ $t('payback.Approvedrefund') }}</span>
      </h2>
      <div>
        <h2 class="mb-10">{{ $t('payback.Rejectedreason') }}：</h2>
        <Input v-model="paybackreason" type="textarea" :rows="6" :placeholder="$t('payback.typing')" />
      </div>
      <div slot="footer">
        <Button
          type="error"
          @click="passpaybackfun(modticketkey,modacbackkey,modtickettype,paybackreason)"
        >{{ $t('payback.Rejectedrefund') }}</Button>
        <Button type="primary" @click="paybackmod=false">{{ $t('components.goticket.cancel') }}</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import ticketsay from "~/components/ticketpage/ticketsay.vue";
import moment from "moment";
import firebase from "firebase/app";;
import { log } from "util";
export default {
  middleware: "routerAuth",
  components: {
    ticketsay
  },
  data() {
    return {
      tabledata: [],
      acount: [],
      ajaxHistoryData: [],
      // 初始化信息总条数
      dataCount: 0,
      // 每页显示多少条
      pageSize: 10,
      historyData: [],
      membermod: false,
      ticketdatamod: false,
      ticketdata: [],
      membermoddata: [],
      selectbox: [],
      backreason: "",
      paybackmod: false,
      paybackreason: "",
      modticketkey: "",
      modacbackkey: "",
      modtickettype: "",
      memberlist: [],
      loadingtype: false
    };
  },
  async asyncData() {
    const db = firebase.firestore();
    const ref1 = db.collection("paybackapply");
    var result1 = [];
    await ref1.get().then(querySnapshot => {
      querySnapshot.forEach(doc2 => {
        const resultdata = doc2.data();
        resultdata.keypayback = doc2.id;
        result1.push(resultdata);
      });
    });
    const ref2 = db.collection("member");
    var result2 = [];
    await ref2.get().then(querySnapshot => {
      querySnapshot.forEach(doc2 => {
        const resultdata = doc2.data();
        result2.push(resultdata);
      });
    });
    return {
      memberlist: result2,
      tabledata: result1
    };
  },
  created() {
    this.handleListApproveHistory();
  },
  mounted() {
    this.acount = JSON.parse(localStorage.getItem("logindata"));
  },
  watch: {
    tabledata(val) {
      this.handleListApproveHistory();
    }
  },
  methods: {
    // 获取历史记录信息
    handleListApproveHistory() {
      // 保存取到的所有数据
      this.ajaxHistoryData = this.tabledata;
      this.dataCount = this.tabledata.length;
      // 初始化显示，小于每页显示条数，全显，大于每页显示条数，取前每页条数显示
      if (this.tabledata.length < this.pageSize) {
        this.historyData = this.ajaxHistoryData;
      } else {
        this.historyData = this.ajaxHistoryData.slice(0, this.pageSize);
      }
      this.$nextTick(()=>{
          this.$refs['pages'].currentPage = 1;
      })
    },
    changepage(index) {
      var _start = (index - 1) * this.pageSize;
      var _end = index * this.pageSize;
      this.historyData = this.ajaxHistoryData.slice(_start, _end);
    },
    async getperosnticket() {
      const db = firebase.firestore();
      const ref = db.collection("paybackapply");
      var result = [];
      await ref.get().then(querySnapshot => {
        querySnapshot.forEach(doc2 => {
          const resultdata = doc2.data();
          resultdata.keypayback = doc2.id;
          result.push(resultdata);
        });
        this.tabledata = result;
      });
    },
    getmemeber(key) {
      const getmember = this.memberlist.filter(item => {
        return item.id == key;
      });
      return getmember;
    },
    reason(backreason) {
      this.$Message.warning({
        content: `<b>`+this.$t('payback.applyreason')+`:</b><br/>` + backreason,
        duration: 10,
        closable: true
      });
    },
    memberdata(data) {
      this.membermod = true;
      this.membermoddata = data;
    },
    getticketdata(data) {
      this.ticketdatamod = true;
      this.ticketdata = [data];
    },
    //在核定前將資料轉移至後台紀錄表
    async passpaybacksned(keyticket, keypayback, tickettype, reason) {
      // backtcket 預設0 退票請1 退票成功2 退票駁回3
      const db = firebase.firestore();
      const ref1 = db.collection("paybackapply").doc(keypayback);
      const ref2 = db.collection("paybackrecord");
      var chgdata = "";
      await ref1.get().then(doc => {
        return (chgdata = doc.data());
      });
      const finaldealdata = {
        reason: reason,
        backtcket: tickettype,
        dealman: this.acount.user.displayName,
        chgdata: chgdata,
        dealtime: moment(Date.now()).format("LLLL")
      };
      await ref2
        .add(finaldealdata)
        .then(data => {
          if (tickettype == "2") {
            this.updatepaybacksned(keyticket, keypayback, tickettype, reason);
          } else {
            this.updatepaybacksned(keyticket, keypayback, tickettype, reason);
          }
        })
        .catch(error => {
          this.$Message.error(this.$t('payback.fun_passpaybacksned'));
          this.loadingtype = !this.loadingtype;
        });
    },
    //更改核定前台紀錄的狀態
    async updatepaybacksned(keyticket, keypayback, tickettype, reason) {
      const db = firebase.firestore();
      const ref1 = db.collection("ticket").doc(keyticket);
      const ref2 = db.collection("paybackapply").doc(keypayback);
      const setdata = {
        backtcket: tickettype,
        paybackreason: reason,
        dealman: this.acount.user.displayName
      };
      await ref1
        .update(setdata)
        .then(data => {
          //移除退票申請的列表資料
          ref2
            .delete()
            .then(data => {
              this.getperosnticket();
              this.$Message.success(this.$t('payback.fun_updatepaybacksned1'));
              this.loadingtype = !this.loadingtype;
            })
            .catch(error => {
              this.$Message.error(this.$t('payback.fun_updatepaybacksned2'));
              this.loadingtype = !this.loadingtype;
            });
        })
        .catch(error => {
          this.$Message.error(this.$t('payback.fun_updatepaybacksned3'));
          this.loadingtype = !this.loadingtype;
        });
    },
    //送出前確認
    passpaybackfun(ticketkey, pacbackkey, tickettype, reason) {
      this.$Modal.confirm({
        title: this.$t('payback.fun_passpaybackfun_title'),
        content: `
        <p>`+this.$t('payback.fun_passpaybackfun_body')+`</p>
        `,
        okText: this.$t('payback.fun_passpaybackfun_btnyes') ,
        cancelText: this.$t('payback.fun_passpaybackfun_btnno') ,
        onOk: () => {
          this.passpaybacksned(ticketkey, pacbackkey, tickettype, reason);
          this.paybackmod = false;
          this.loadingtype = !this.loadingtype;
        },
        onCancel: () => {
          this.$Message.info(this.$t('payback.fin_cancelok'));
        }
      });
    },
    nopass(ticketkey, acbackkey, tickettype) {
      this.modticketkey = ticketkey;
      this.modacbackkey = acbackkey;
      this.modtickettype = tickettype;
    }
  }
};
</script>
