.layout {
  background-image: url('~assets/img/bg4.png') !important;
  // background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  min-height: 100vh;
}
.ivu-layout {
  background: #f5f7f900 !important;
}
.layout-logo {
  float: left;
  position: relative;
  top: 15px;
  left: 20px;
}
.layout-nav {
  float: right;
  margin: 0 auto;
  margin-right: 20px;
}
.ivu-layout-header {
  background: #393939 !important;
  ul {
    background: #393939;
  }
}
.ivu-menu-item-active {
  padding-bottom: 4px !important;
  background: #1f6c89;
}
.ivu-layout-footer {
  padding: 11px 50px !important;
  font-size: 12px;
  text-shadow: 1px 1px 1px #444;
}
.layout-footer-center {
  background: #393939 url("~assets/img/train-img.png") bottom repeat-x !important;
  color: #fff !important;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  /* 設定footer絕對位置在底部 */
  position: fixed;
  bottom: 0;
}
.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.demo-spin-col {
  height: 100px;
  position: relative;
  border: 1px solid #eee;
}
th {
  background-color: #008a8afb;
  color: aliceblue;
  padding: 3px !important;
}
td {
  background-color: #fff6c6;
  padding: 3px !important;

}
.backticket{
  td{
    background-color: rgb(182, 182, 182);
    color: rgb(214, 214, 214);
  }
}
.gray {
  // background-image: url('~assets/img/bg.jpg') !important;
  background-color: #f0f0f0 !important;
}
.bg {
  background-image: url("~assets/img/bg.jpg") !important;
  background-color: #e1e1e1;
  background-repeat: round !important;
  &.goborderl {
    border-left: 20px solid #515a6e;
    &:hover {
      border-color: #ff9100 !important;
    }
  }
}
.radiostyle {
  border: 1px solid #ff9925;
  padding: 3px;
  border-radius: 3px;
  background: #ffffff;
  color: #ff9925;
  &.ivu-radio-wrapper-checked {
    border: 1px solid #ffffff;
    background: #ff5325;
    color: #ffffff;
  }
}
.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
  color: #ffa000 !important;
}
