<template>
  <div>
    <Spin fix v-if="loadingtype">
      <Icon type="ios-loading" size="18" class="demo-spin-icon-load"></Icon>
      <div>{{ $t('loading') }}</div>
    </Spin>
    <h1 class="tc mb-20"><Icon type="md-person" /> {{ $t('memeber.title') }}</h1>
    <table width="100%" class="tc mb-20" v-if="acount!=''">
      <thead>
        <tr>
          <th colspan="7"> {{ $t('memeber.thtitle') }}</th>
        </tr>
        <tr>
          <th width="21%"> {{ $t('memeber.th1') }}</th>
          <th> {{ $t('memeber.th2') }}</th>
          <th> {{ $t('memeber.th3') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="10">
            <img width="50%" :src="acount.user['photoURL']" class="m-10" />
          </td>
          <td>
            <h3>{{acount.user['displayName']}}</h3>
          </td>
          <td>
            <h3>{{acount.user['email']}}</h3>
          </td>
        </tr>
        <tr>
          <th>{{ $t('memeber.th4') }}</th>
          <th>{{ $t('memeber.th5') }}</th>
        </tr>
        <tr>
          <td>
            <h3>{{persondata.sex}}</h3>
          </td>
          <td>
            <h3>{{persondata.birth}}</h3>
          </td>
        </tr>
        <tr>
          <th>{{ $t('memeber.th6') }}</th>
          <th>{{ $t('memeber.th7') }}</th>
        </tr>
        <tr>
          <td>
            <h3>{{persondata.phone}}</h3>
          </td>
          <td>
            <h3>{{persondata.live}}</h3>
          </td>
        </tr>
        <tr>
          <th>{{ $t('memeber.th8') }}</th>
          <th>{{ $t('memeber.th9') }}</th>
        </tr>
        <tr>
          <td>
            <h3>{{persondata.langs}}</h3>
          </td>
          <td>
            <h3>{{persondata.school}}</h3>
          </td>
        </tr>
        <tr>
          <th>{{ $t('memeber.th10') }}</th>
          <th>{{ $t('memeber.th11') }}</th>
        </tr>
        <tr>
          <td>
            <h3>{{persondata.work}}</h3>
          </td>
          <td>
            <h3>{{persondata.country}}</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import firebase from "firebase/app";;
import { log } from "util";
export default {
  middleware:'routerAuth',
  data() {
    return {
      acount: [],
      persondata: [],
      loadingtype: false
    };
  },
  mounted() {
    this.acount = JSON.parse(localStorage.getItem("logindata"));
  },
  watch: {
    acount() {
      this.getmember();
    }
  },
  methods: {
    async getmember() {
      this.loadingtype = !this.loadingtype;
      const db = firebase.firestore();
      const ref = db.doc(
        "member/" + this.acount.user.uid
      );
      await ref.onSnapshot(doc => {
        this.persondata = doc.data();
      });
      this.loadingtype = !this.loadingtype;
    }
  }
};
</script>