<template>
  <div>
    <Row>
      <h1 class="tc mb-20">
        <Icon type="md-train" />{{ $t('index.title') }}
      </h1>
      <i-Col span="14">
        <Card dis-hover class="gray">
          <Carousel autoplay loop  dots="outside">
            <CarouselItem v-for="(it,index) in getcarousel" :key="index+'img'">
              <div class="demo-carousel">
                <img :src="it.imgurl" width="100%" />
              </div>
            </CarouselItem>
          </Carousel>
        </Card>
      </i-Col>
      <i-Col span="10" class="pl-15">
        <Card class="gray" dis-hover>
          <h2 slot="title">{{ $t('index.news') }}</h2>
          <div style="height: 24rem;overflow: auto;">
            <div v-for="(it2,index) in textnews" :key="index+'it'" class="pt-5 pb-5" style="border-bottom: 1px solid #bfbfbf;">
              <Button class="fr" size="small" type="primary" @click="moreread(it2)">{{ $t('index.readmore') }}</Button>
              <h3 class="mb-5">{{it2.title}}</h3>
              <p>{{it2.time}}</p>
            </div>
          </div>
        </Card>
      </i-Col>
    </Row>

    <Modal v-model="mod" width="1200">
      <h2 slot="header">
        <Icon type="ios-list-box" />
        <span>{{moddata.title}}</span>
      </h2>
      <div slot="footer">
        <Button type="primary" @click="mod=!mod">{{ $t('index.close') }}</Button>
      </div>
      <div>
        {{ $t('index.releasetime') }}：<div class="m-10">Time: {{moddata.time}}</div>
        {{ $t('index.publishedcontent') }}：<div class="m-10" v-html="moddata.msg"></div>
        {{ $t('index.publisher') }}:<div class="m-10">{{moddata.dealman}}</div>
      </div>
    </Modal>
  </div>
</template>
<script>
import firebase from "firebase/app";
export default {
  data() {
    return {
      getcarousel: "",
      textnews: "",
      moddata:[],
      mod:false,
    };
  },
  async asyncData() {
    var result = [];
    var result2 = [];
    const db = firebase.firestore();
    const ref = db.collection("carousel");
    await ref.get().then(querySnapshot => {
      querySnapshot.forEach(doc2 => {
        const resultdata = doc2.data();
        resultdata.keypayback = doc2.id;
        result.push(resultdata);
      });
    });
    var sortresult =[]
    const ref2 = db.collection("news");
    await ref2.get().then(querySnapshot => {
      querySnapshot.forEach(doc2 => {
        const resultdata = doc2.data();
        resultdata.keypayback = doc2.id;
        result2.push(resultdata);
      });
      sortresult = result2.sort()
    });
    return { getcarousel: result, textnews: sortresult };
  },
  methods:{
    moreread(data){
      this.moddata = data
      this.mod = !this.mod
    }
  }
};
</script>